@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

$grid-columns:      12;

$indigo:        #6610f2 !default;
$primary:       $indigo !default;

$font-family-sans-serif: Rubik, sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;
$enable-responsive-font-sizes: true;

@import "bootstrap";
@import "rails_bootstrap_forms";

h1 {
  color: $primary;
  font-weight: 900;
}
